
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

input[type=text],input[type=number] {width: 50%;height: 50px;}
button{
    
    padding: 17.5px;
    border-radius: 10px;
}
#error1,#error2{
    color: red;
}
.title{
    font-size: 48px;
    text-align: center;
}
pre{
    
    padding-left:23vw;
}
#obliczanie{margin-left:23vw;}

.wybierz{
background-color: red;
font-size: 15px;
color: white;
border: 2px white solid;
transition:background-color 0.5s;
}

.wybierzG{
background-color: green;
font-size: 15px;
color: white;
border: 2px white solid;
transition:background-color 0.5s;
}
.wybierz:hover{
    background-color: darkred;
    
}
.wybierzG:hover{
    background-color: darkgreen;
}

#reset{
    margin-left: 10px;
}
.blue{
    color:blue;
}

.red{
    color:red;
}
.green{
    color:green;
}

table,td,th{
    border-collapse: collapse;
    border: 2px black solid;
}
td,th{padding: 5px;}
table{margin:0 auto}
.radioctr{
    text-align: center;
    vertical-align: middle;
}
#header{

    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
}
#header2{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
}
body{
overflow-y: visible;
}